@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 14pt;
}

/** カテゴリ リスト */
.category-list {
  color: #9b767a;
  background-color: #d7c8ca;
  padding: 1em;
  height: 100%;
}

.category-list-category {
  margin-top: 0.5em;
  cursor: pointer;
}

.category-list-category .icon {
  display: inline-block;
  margin-right: 0.4em;
}

/** カテゴリ編集 */
.category-edit-body {
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

/** アイテムリスト */
.item-list {
  padding: 0.5em;
  color: #9b767a;
  overflow-y: auto;
}

.item-list-item {
  margin-left: 1em;
  margin-top: 1em;
}

/** アイテム編集 */
.item-edit-body {
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.item-edit-caption {
  font-size: 10pt;
}

.item-edit-input {
  width: 300px;
  outline: none;
  border-bottom: solid 1px #d7c8ca;
}
.item-edit-input:focus {
  border-bottom: solid 1px #b8a9ab;
}

/** 汎用コンポーネント */
.edit-caption {
  font-size: 10pt;
}

.edit-input {
  width: 300px;
  outline: none;
  border-bottom: solid 1px #d7c8ca;
}
.edit-input:focus {
  border-bottom: solid 1px #b8a9ab;
}

.edit-text-area {
  width: 300px;
  outline: none;
  border-bottom: solid 1px #d7c8ca;
}
